
body {
    font-size: 14px;
    margin-left: 5em;
}

h1 {
    font-size: 1.5em;
    font-family: sans-serif;
    color: #555555;
    margin-top: 1em;
}

.control_div {
    margin-bottom: 0.5em;
}

.data_control {
    display: inline-block;
    width: 35em;
}

.instructions {
    display: inline-block;
    margin-left: 1em;
    width: 40em;
    font-style: italic;
    vertical-align: top;
}

.working_message {
    margin-top: 3em;
    margin-bottom: 3em;
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
    color: #ff0000;
}

.result {
    margin-top: 1.0em;
}

.result_citation {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.result_author {
}

.result_title {
    font-style: italic;
}

.result_a {
    font-weight: normal;
}

.result_b {
    font-weight: normal;
}

.snippet {
    width: 70em;
}

.hilite {
    font-weight: bold;
    background-color: #FFFF00;
}

.expanded_query_terms {
    margin-bottom: 1em;
}


